<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Get-data" data-toc-modified-id="Get-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Get data</a></span></li><li><span><a href="#Data-cleaning" data-toc-modified-id="Data-cleaning-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data cleaning</a></span></li><li><span><a href="#First-try:--clustering" data-toc-modified-id="First-try:--clustering-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>First try:  clustering</a></span></li><li><span><a href="#Tf-idf-+-Cosine-similarity" data-toc-modified-id="Tf-idf-+-Cosine-similarity-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Tf-idf + Cosine similarity</a></span><ul class="toc-item"><li><span><a href="#Preparation" data-toc-modified-id="Preparation-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Preparation</a></span></li><li><span><a href="#Step-by-step---how-to-use-tf-idf-to-match-on-keywords" data-toc-modified-id="Step-by-step---how-to-use-tf-idf-to-match-on-keywords-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Step by step - how to use tf-idf to match on keywords</a></span></li><li><span><a href="#Tests" data-toc-modified-id="Tests-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Tests</a></span></li><li><span><a href="#Including-meta-data-in-the-results" data-toc-modified-id="Including-meta-data-in-the-results-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Including meta data in the results</a></span></li></ul></li><li><span><a href="#Tf-idf-+-Jaccard-similarity" data-toc-modified-id="Tf-idf-+-Jaccard-similarity-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Tf-idf + Jaccard similarity</a></span></li><li><span><a href="#Using-more-keywords" data-toc-modified-id="Using-more-keywords-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Using more keywords</a></span><ul class="toc-item"><li><span><a href="#Recommandations-with-input-being-a-movie-title" data-toc-modified-id="Recommandations-with-input-being-a-movie-title-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Recommandations with input being a movie title</a></span></li><li><span><a href="#Recommandations-with-input-being-keywords" data-toc-modified-id="Recommandations-with-input-being-keywords-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Recommandations with input being keywords</a></span></li></ul></li></ul></div>

In [1]:
import pandas as pd
import ast
pd.set_option('display.max_colwidth', 500)
pd.set_option('max_rows', 2500)
import numpy as np
import re

# Get data

In [2]:
keywords=pd.read_csv('/Users/etienneleconte/Downloads/archive (6)/keywords.csv')
keywords.head()

,id,keywords
0,862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}]"
1,8844,"[{'id': 10090, 'name': 'board game'}, {'id': 10941, 'name': 'disappearance'}, {'id': 15101, 'name': ""based on children's book""}, {'id': 33467, 'name': 'new home'}, {'id': 158086, 'name': 'recluse'}, {'id': 158091, 'name': 'giant insect'}]"
2,15602,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392, 'name': 'best friend'}, {'id': 179431, 'name': 'duringcreditsstinger'}, {'id': 208510, 'name': 'old men'}]"
3,31357,"[{'id': 818, 'name': 'based on novel'}, {'id': 10131, 'name': 'interracial relationship'}, {'id': 14768, 'name': 'single mother'}, {'id': 15160, 'name': 'divorce'}, {'id': 33455, 'name': 'chick flick'}]"
4,11862,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'name': 'midlife crisis'}, {'id': 2246, 'name': 'confidence'}, {'id': 4995, 'name': 'aging'}, {'id': 5600, 'name': 'daughter'}, {'id': 10707, 'name': 'mother daughter relationship'}, {'id': 13149, 'name': 'pregnancy'}, {'id': 33358, 'name': 'contraception'}, {'id': 170521, 'name': 'gynecologist'}]"

In [3]:
keywords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46419 entries, 0 to 46418
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        46419 non-null  int64
 1   keywords  46419 non-null  object
dtypes: int64(1), object(1)
memory usage: 725.4+ KB

In [4]:
links=pd.read_csv('/Users/etienneleconte/Downloads/archive (6)/links.csv')
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [5]:
mov_meta=pd.read_csv('/Users/etienneleconte/Downloads/archive (6)/movies_metadata.csv',low_memory=False)
mov_meta.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]",NaN,8844,tt0113497,en,Jumanji,"When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- into their living room. Alan's only hope for freedom is to finish the game, which proves risky as all three find themselves running from giant rhinoceroses, evil monkeys and other terrifying creatures.",...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}]",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg', 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",NaN,15602,tt0113228,en,Grumpier Old Men,"A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John and Max. Meanwhile, a sultry Italian divorcée opens a restaurant at the local bait shop, alarming the locals who worry she'll scare the fish away. But she's less interested in seafood than she is in cooking up a hot time with Max.",...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for Love.,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the women are holding their breath, waiting for the elusive ""good man"" to break a string of less-than-stellar lovers. Friends and confidants Vannah, Bernie, Glo and Robin talk it all out, determined to find a better way to breathe.",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself... and never let you forget it.,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Collection', 'poster_path': '/nts4iOmNnq7GNicycMJ9pSAn204.jpg', 'backdrop_path': '/7qwE57OVZmMJChBpLEbJEmzUydk.jpg'}",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,"Just when George Banks has recovered from his daughter's wedding, he receives the news that she's pregnant ... and that George's wife, Nina, is expecting too. He was planning on selling their home, but that's a plan that -- like George -- will have to change with the arrival of both a grandchild and a kid of his own.",...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's In For The Surprise Of His Life!,Father of the Bride Part II,False,5.7,173.0

In [6]:
ratings=pd.read_csv('/Users/etienneleconte/Downloads/archive (6)/ratings.csv')
ratings.shape

(26024289, 4)

In [7]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

# Data cleaning

In [8]:
keywords.head()

,id,keywords
0,862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}]"
1,8844,"[{'id': 10090, 'name': 'board game'}, {'id': 10941, 'name': 'disappearance'}, {'id': 15101, 'name': ""based on children's book""}, {'id': 33467, 'name': 'new home'}, {'id': 158086, 'name': 'recluse'}, {'id': 158091, 'name': 'giant insect'}]"
2,15602,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392, 'name': 'best friend'}, {'id': 179431, 'name': 'duringcreditsstinger'}, {'id': 208510, 'name': 'old men'}]"
3,31357,"[{'id': 818, 'name': 'based on novel'}, {'id': 10131, 'name': 'interracial relationship'}, {'id': 14768, 'name': 'single mother'}, {'id': 15160, 'name': 'divorce'}, {'id': 33455, 'name': 'chick flick'}]"
4,11862,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'name': 'midlife crisis'}, {'id': 2246, 'name': 'confidence'}, {'id': 4995, 'name': 'aging'}, {'id': 5600, 'name': 'daughter'}, {'id': 10707, 'name': 'mother daughter relationship'}, {'id': 13149, 'name': 'pregnancy'}, {'id': 33358, 'name': 'contraception'}, {'id': 170521, 'name': 'gynecologist'}]"

In [9]:
# define a function to automatize the process 
def clean(x):
    y=ast.literal_eval(x)
    result=[i['name'] for i in y]
    return result

In [10]:
keywords['clean_keyw']=keywords.keywords.map(clean)

In [11]:
mov_meta['clean_genres']=mov_meta.genres.map(clean)

In [12]:
keywords.head()

,id,keywords,clean_keyw
0,862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}]","[jealousy, toy, boy, friendship, friends, rivalry, boy next door, new toy, toy comes to life]"
1,8844,"[{'id': 10090, 'name': 'board game'}, {'id': 10941, 'name': 'disappearance'}, {'id': 15101, 'name': ""based on children's book""}, {'id': 33467, 'name': 'new home'}, {'id': 158086, 'name': 'recluse'}, {'id': 158091, 'name': 'giant insect'}]","[board game, disappearance, based on children's book, new home, recluse, giant insect]"
2,15602,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392, 'name': 'best friend'}, {'id': 179431, 'name': 'duringcreditsstinger'}, {'id': 208510, 'name': 'old men'}]","[fishing, best friend, duringcreditsstinger, old men]"
3,31357,"[{'id': 818, 'name': 'based on novel'}, {'id': 10131, 'name': 'interracial relationship'}, {'id': 14768, 'name': 'single mother'}, {'id': 15160, 'name': 'divorce'}, {'id': 33455, 'name': 'chick flick'}]","[based on novel, interracial relationship, single mother, divorce, chick flick]"
4,11862,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'name': 'midlife crisis'}, {'id': 2246, 'name': 'confidence'}, {'id': 4995, 'name': 'aging'}, {'id': 5600, 'name': 'daughter'}, {'id': 10707, 'name': 'mother daughter relationship'}, {'id': 13149, 'name': 'pregnancy'}, {'id': 33358, 'name': 'contraception'}, {'id': 170521, 'name': 'gynecologist'}]","[baby, midlife crisis, confidence, aging, daughter, mother daughter relationship, pregnancy, contraception, gynecologist]"

In [13]:
all_keywords=[j for i in keywords.clean_keyw for j in i]

In [14]:
len(all_keywords)

158680

In [15]:
len(set(all_keywords))

19956

In [16]:
uni_keywords=set(all_keywords)

In [17]:
keywords.clean_keyw=np.where(keywords.clean_keyw.str.len()==0,np.nan,keywords.clean_keyw)

In [18]:
keywords.clean_keyw

0                                    [jealousy, toy, boy, friendship, friends, rivalry, boy next door, new toy, toy comes to life]
1                                           [board game, disappearance, based on children's book, new home, recluse, giant insect]
2                                                                            [fishing, best friend, duringcreditsstinger, old men]
3                                                  [based on novel, interracial relationship, single mother, divorce, chick flick]
4        [baby, midlife crisis, confidence, aging, daughter, mother daughter relationship, pregnancy, contraception, gynecologist]
                                                                   ...
46414                                                                                                                [tragic love]
46415                                                                                                        [artist, play, pinoy]
46416                                                                                                                          NaN
46417                                                                                                                          NaN
46418                                                                                                                          NaN
Name: clean_keyw, Length: 46419, dtype: object

In [19]:
keywords.dropna(inplace=True)

In [20]:
keywords.shape

(31624, 3)

In [21]:
mov_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
 24  clean_genres           45466 non-null  object
dtypes: float64(4), object(21)
memory usage: 8.7+ MB

In [22]:
row_to_drop=mov_meta[mov_meta.id.str.contains('-')].index

In [23]:
mov_meta.drop(row_to_drop,inplace=True)

In [24]:
mov_meta.id=mov_meta.id.map(lambda x: int(x))

In [25]:
mov_meta.drop_duplicates(subset=['id'],inplace=True)

In [26]:
mov_meta.drop_duplicates(subset=['title'],inplace=True)

In [27]:
mov_meta.clean_genres=np.where(mov_meta.clean_genres.str.len()==0,np.nan,mov_meta.clean_genres)

In [28]:
mov_meta.dropna(subset=['clean_genres','overview'],inplace=True)

In [29]:
mov_meta.reset_index(drop=True,inplace=True)

In [30]:
mov_meta.shape

(39332, 25)

# Tf-idf + Cosine similarity

## Preparation

In [31]:
from gensim.corpora.dictionary import Dictionary

dictionary=Dictionary(keywords.clean_keyw)

In [32]:
corpus = [dictionary.doc2bow(mov) for mov in keywords.clean_keyw]

In [33]:
from gensim.models.tfidfmodel import TfidfModel

tfidf = TfidfModel(corpus)

In [34]:
from gensim.similarities import MatrixSimilarity

sims = MatrixSimilarity(tfidf[corpus], num_features=len(dictionary))

In [35]:
print(sims)

MatrixSimilarity<31624 docs, 19956 features>

## Step by step - how to use tf-idf to match on keywords

In [36]:
# Create bag of word with the query keywords

query_doc_bow = dictionary.doc2bow(['magic', 'silent film', 'trick film'])
query_doc_bow

[(717, 1), (3046, 1), (18188, 1)]

In [37]:
# Convert the bag of words in a tf-idf representation 

query_doc_tfidf = tfidf[query_doc_bow]
query_doc_tfidf

[(717, 0.4786506607722017),
 (3046, 0.44187184879198266),
 (18188, 0.7587112851325528)]

In [38]:
# Get the cosine similarity of the document with every others in the dataset

similarity_array = sims[query_doc_tfidf]
similarity_array

array([0., 0., 0., ..., 0., 0., 0.], dtype=float32)

In [39]:
# Convert it into a Series 

similarity_series = pd.DataFrame(similarity_array.tolist(), index=keywords.id, columns=['sim_score'])
similarity_series

        sim_score
id
862           0.0
8844          0.0
15602         0.0
31357         0.0
11862         0.0
...           ...
84419         0.0
390959        0.0
289923        0.0
439050        0.0
111109        0.0

[31624 rows x 1 columns]

In [40]:
meta_similiraty=similarity_series.merge(mov_meta,on='id',how='left')
meta_similiraty.head()

,id,sim_score,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,clean_genres
0,862,0.0,False,"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]",http://toystory.disney.com/toy-story,tt0114709,en,Toy Story,...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[Animation, Comedy, Family]"
1,8844,0.0,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]",NaN,tt0113497,en,Jumanji,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}]",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[Adventure, Fantasy, Family]"
2,15602,0.0,False,"{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg', 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",NaN,tt0113228,en,Grumpier Old Men,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for Love.,Grumpier Old Men,False,6.5,92.0,"[Romance, Comedy]"
3,31357,0.0,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]",NaN,tt0114885,en,Waiting to Exhale,...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself... and never let you forget it.,Waiting to Exhale,False,6.1,34.0,"[Comedy, Drama, Romance]"
4,11862,0.0,False,"{'id': 96871, 'name': 'Father of the Bride Collection', 'poster_path': '/nts4iOmNnq7GNicycMJ9pSAn204.jpg', 'backdrop_path': '/7qwE57OVZmMJChBpLEbJEmzUydk.jpg'}",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0113041,en,Father of the Bride Part II,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's In For The Surprise Of His Life!,Father of the Bride Part II,False,5.7,173.0,[Comedy]

In [41]:
# Sort the Series and get top hits 
top_hits = meta_similiraty.sort_values(by='sim_score',ascending=False)[1:6]
top_hits

,id,sim_score,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,clean_genres
31254,147746,0.878005,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}]",NaN,tt0223622,fr,La Lanterne magique,...,0.0,5.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Magic Lantern,False,5.4,8.0,[Fantasy]
31259,232943,0.878005,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'name': 'Fantasy'}, {'id': 80, 'name': 'Crime'}]",NaN,tt1802159,fr,L'insaisissable pickpocket,...,0.0,4.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,Diabolical Pickpocket,False,6.5,2.0,"[Comedy, Fantasy, Crime]"
31271,194040,0.878005,False,NaN,0,"[{'id': 10402, 'name': 'Music'}, {'id': 35, 'name': 'Comedy'}, {'id': 14, 'name': 'Fantasy'}]",NaN,tt1705951,fr,Symphonie bizarre,...,0.0,3.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,An Awful Symphony,False,5.5,2.0,"[Music, Comedy, Fantasy]"
31435,104697,0.778813,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'name': 'Fantasy'}]",NaN,tt0222768,fr,Guillaume Tell et le Clown,...,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,Adventures of William Tell,False,6.1,7.0,"[Comedy, Fantasy]"
24161,96701,0.743567,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'name': 'Comedy'}]",NaN,tt0222874,fr,Le cake-walk infernal,...,0.0,5.0,[],Released,NaN,The Infernal Cakewalk,False,6.2,6.0,"[Fantasy, Comedy]"

## Tests

In [42]:
def test_f(query,nb_hits):
    query_doc_bow = dictionary.doc2bow(query)
    query_doc_tfidf = tfidf[query_doc_bow]
    similarity_array = sims[query_doc_tfidf]
    similarity_series = pd.Series(similarity_array.tolist(), index=keywords.id)
    top_hits = similarity_series.sort_values(ascending=False)[1:nb_hits+1]
    return top_hits

In [43]:
test_f(['magic', 'silent film', 'trick film'],5)

id
232943    0.878005
147746    0.878005
194040    0.878005
104697    0.778813
96701     0.743567
dtype: float64

In [44]:
test_f(['jealousy', 'toy', 'boy', 'friendship', 'friends'],5)

id
118051    0.530232
84023     0.478325
14499     0.442306
86764     0.408355
36301     0.368346
dtype: float64

## Including meta data in the results

In [45]:
mov_meta.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'clean_genres'],
      dtype='object')

In [46]:
key_meta=keywords.merge(mov_meta,on='id',how='left')

In [47]:
dictionary=Dictionary(keywords.clean_keyw)

In [48]:
def recommand_me(query,nb_hits):
    query_doc_bow = dictionary.doc2bow(query)
    query_doc_tfidf = tfidf[query_doc_bow]
    similarity_array = sims[query_doc_tfidf]
    similarity_df = pd.DataFrame(similarity_array.tolist(), index=keywords.id, columns=['sim_score'])
    meta_similiraty=similarity_df.merge(mov_meta,on='id',how='left')
    top_hits = meta_similiraty.sort_values(by='sim_score',ascending=False)[:nb_hits]
    
    return top_hits[['sim_score','title','clean_genres','overview','release_date','runtime','vote_average']]

In [49]:
recommand_me(['jealousy', 'toy', 'boy', 'friendship', 'friends'],5)

,sim_score,title,clean_genres,overview,release_date,runtime,vote_average
0,0.615434,Toy Story,"[Animation, Comedy, Family]","Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.",1995-10-30,81.0,7.7
24245,0.530232,NaN,NaN,NaN,NaN,NaN,NaN
26758,0.478325,The Adopted Son,[Drama],"In a Kyrgyz village, five older women adopt an infant foundling. Jump ahead about 12 years: the boy, Beshkempir, is entering puberty, the age, his granny says, when life goes berserk. He plays with friends, horsing around, sniggering about sex, going to an outdoor movie. He works, fishing and making bricks of mud. And, he's starting to notice girls. He and his best friend fight, and he learns to his consternation that he's a foundling. A death in the family pushes Beshkempir even faster towa...",1998-08-11,81.0,4.0
17670,0.442306,Mio in the Land of Faraway,"[Adventure, Drama, Fantasy, Family, Mystery]","They're two best friends, a million miles from home. On an incredible adventure, beyond the boundaries of space and time. A fantasy about a lonely boy who is transferred from his dull life with his adoptive parents to the land where his real father is the king.",1987-07-01,99.0,6.3
11638,0.408355,Suzanne's Career,[Romance],"In the second of Rohmer's moral tales, he examines the relationship between two friends and a girl who at first appears easily exploited. It is a complex tale of feelings and misconceptions, acted out within the head of the main character, as part of Rohmer's attempt to more easily simulate the mindscape quality of literature within a film.",1963-02-01,54.0,5.4

In [50]:
recommand_me(['toy','friends','jealousy'],5)

,sim_score,title,clean_genres,overview,release_date,runtime,vote_average
11638,0.503868,Suzanne's Career,[Romance],"In the second of Rohmer's moral tales, he examines the relationship between two friends and a girl who at first appears easily exploited. It is a complex tale of feelings and misconceptions, acted out within the head of the main character, as part of Rohmer's attempt to more easily simulate the mindscape quality of literature within a film.",1963-02-01,54.0,5.4
0,0.498772,Toy Story,"[Animation, Comedy, Family]","Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.",1995-10-30,81.0,7.7
19929,0.425127,Toy Story That Time Forgot,"[Animation, Family]","During a post-Christmas play date, the gang find themselves in uncharted territory when the coolest set of action figures ever turn out to be dangerously delusional. It's all up to Trixie, the triceratops, if the gang hopes to return to Bonnie's room in this Toy Story That Time Forgot.",2014-12-02,22.0,6.8
24,0.388183,Othello,[Drama],The evil Iago pretends to be friend of Othello in order to manipulate him to serve his own end in the film version of this Shakespeare classic.,1995-12-15,123.0,7.0
24245,0.388051,NaN,NaN,NaN,NaN,NaN,NaN

# Tf-idf + Jaccard similarity

In [51]:
def get_jaccard_sim(str1, str2): 
    a = set(str1) 
    b = set(str2)
    c = a.intersection(b)
    return float(len(c)) / (len(a) + len(b) - len(c))

In [52]:
def jaccard_me(query,nb_hits):
    
    sim_series=keywords.clean_keyw.map(lambda x: get_jaccard_sim(x,query))
    
    similarity_df = pd.DataFrame(sim_series)
    similarity_df.columns=['sim_score']
    similarity_df.index=keywords.id
    meta_similiraty=similarity_df.merge(mov_meta,on='id',how='left')
    top_hits = meta_similiraty.sort_values(by='sim_score',ascending=False)[:nb_hits]
    
    return top_hits[['sim_score','title','clean_genres','overview','release_date','runtime','vote_average']]

In [53]:
jaccard_me(['etienne','football'],5)

,sim_score,title,clean_genres,overview,release_date,runtime,vote_average
19507,0.200000,NaN,NaN,NaN,NaN,NaN,NaN
25461,0.200000,Heleno,[Drama],"José Henrique Fonseca crafts an ambitious and long overdue homage to a central icon in Brazil’s 20th century history. Reminiscent of film noir classics, the biopic tells the glorious and tragic story of the legendary football striker Heleno de Freitas. The sumptuous black and white cinematography reflects the chic life of Rio de Janeiro in the 1940s as it fell under the spell of sports royalty. Heleno was no doubt one of the most popular players of his time for his bravura in the field and ...",2012-03-29,116.0,5.7
24454,0.142857,Ronaldo,"[History, Documentary]","Filmed over 14 months with unprecedented access into the inner circle of the man and the sport, this is the first official and fully authorised film of one of the most celebrated figures in football. For the first time ever, the world gets vividly candid and un-paralleled, behind-closed-doors access to the footballer, father, family-man and friend in this moving & fascinating documentary. Through in-depth conversations, state of the art football footage and never before seen archival footag...",2015-11-09,92.0,6.4
0,0.000000,Toy Story,"[Animation, Comedy, Family]","Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.",1995-10-30,81.0,7.7
21080,0.000000,100 Years at the Movies,[Documentary],Commemorates the centennial of American movies with a montage of clips and music scores from the most important movies of the century.,1994-12-31,9.0,8.0

In [54]:
keywords.iloc[24]

id                                                                                                                                            16420
keywords      [{'id': 497, 'name': 'shakespeare'}, {'id': 931, 'name': 'jealousy'}, {'id': 9713, 'name': 'friends'}, {'id': 17982, 'name': 'moor'}]
clean_keyw                                                                                                   [shakespeare, jealousy, friends, moor]
Name: 25, dtype: object

**The result seems ok but the problem is that there are too few keywords from the keywords table. Let's get keywords directly from the overview column of mov_meta.**

# Using more keywords

## Recommandations with input being a movie title

In [62]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vector = TfidfVectorizer(stop_words='english')

tfidf_matrix = tfidf_vector.fit_transform(mov_meta['overview'])

In [63]:
tfidf=tfidf_vector.fit(mov_meta['overview'])

In [64]:
from sklearn.metrics.pairwise import linear_kernel

sim_matrix = linear_kernel(tfidf_matrix, tfidf_matrix) # calculates every similarity between movies

In [107]:
def recommand_title(movie,nb_hits):
    # Get movie index
    idx=mov_meta.reset_index()[mov_meta.title==movie]['index'].item()
    # Get its similarity scores for that movie in the similarity matrix
    sim_scores=list(enumerate(sim_matrix[idx]))
    # Sort them 
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)[1:nb_hits+1]
    # Get the corresponding films
    top_hits=mov_meta.iloc[[i[0] for i in sim_scores]]
    
    return top_hits[['title','clean_genres','overview','release_date','runtime','vote_average']]

In [110]:
recommand_title('Toy Story',5)

,title,clean_genres,overview,release_date,runtime,vote_average
14468,Toy Story 3,"[Animation, Family, Comedy]","Woody, Buzz, and the rest of Andy's toys haven't been played with in years. With Andy about to go to college, the gang find themselves accidentally left at a nefarious day care center. The toys must band together to escape and return home to Andy.",2010-06-16,103.0,7.6
2877,Toy Story 2,"[Animation, Comedy, Family]","Andy heads off to Cowboy Camp, leaving his toys to their own devices. Things shift into high gear when an obsessive toy collector named Al McWhiggen, owner of Al's Toy Barn kidnaps Woody. Andy's toys mount a daring rescue mission, Buzz Lightyear meets his match and Woody has to decide where he and his heart truly belong.",1999-10-30,92.0,7.3
9827,The 40 Year Old Virgin,"[Comedy, Romance]","Andy Stitzer has a pleasant life with a nice apartment and a job stamping invoices at an electronics store. But at age 40, there's one thing Andy hasn't done, and it's really bothering his sex-obsessed male co-workers: Andy is still a virgin. Determined to help Andy get laid, the guys make it their mission to de-virginize him. But it all seems hopeless until Andy meets small business owner Trish, a single mom.",2005-08-11,116.0,6.2
22399,Small Fry,"[Animation, Family]",A fast food restaurant mini variant of Buzz forcibly switches places with the real Buzz and his friends have to deal with the obnoxious impostor.,2011-11-23,7.0,6.8
21827,Andy Hardy's Blonde Trouble,"[Comedy, Family, Romance]","Andy is going to Wainwright College as did his father. He sees a pretty blonde on the train and he is alternately winked at or slapped every time he sees her. Andy is clueless. On the train Andy meets Kay and Dr. Standish who are both headed for Wainwright. Andy likes Kay, but Dr. Standish also seems to take an interest in her. Things are going well at College with Kay, but the blonde is nice one minute and ignores Andy the next. When Andy finds out that the blonde is really identical twins,...",1944-05-04,107.0,6.3

## Recommandations with input being keywords

In [111]:
import nltk
from nltk.corpus import stopwords
nltk.download('punkt')
nltk.download('stopwords')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/etienneleconte/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/etienneleconte/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [112]:
def remove_sw(text):
    lst_kw=[word for word in word_tokenize(text.lower()) if not word in stopw]
    return lst_kw

In [113]:
stopw = nltk.corpus.stopwords.words('english')
stopw.extend(['s','-','.',',',"'","'s"])

In [114]:
mov_meta['keyw_ov']=mov_meta.overview.map(remove_sw)

In [115]:
mov_meta['keyw_ov']=mov_meta['keyw_ov']+mov_meta['clean_genres']

In [116]:
def lowerlist(x):
    return [i.lower() for i in x]

In [117]:
mov_meta['keyw_ov']=mov_meta['keyw_ov'].map(lowerlist)

In [118]:
# Preparation 
dictionary=Dictionary(mov_meta['keyw_ov'])
corpus = [dictionary.doc2bow(mov) for mov in mov_meta['keyw_ov']]
tfidf = TfidfModel(corpus)
sims = MatrixSimilarity(tfidf[corpus], num_features=len(dictionary))

In [119]:
def recommand_me(query,nb_hits):
    query_doc_bow = dictionary.doc2bow(query)
    query_doc_tfidf = tfidf[query_doc_bow]
    similarity_array = sims[query_doc_tfidf]
    similarity_df = pd.DataFrame(similarity_array.tolist(), index=mov_meta.id, columns=['sim_score'])
    meta_similiraty=similarity_df.merge(mov_meta,on='id',how='left')
    top_hits = meta_similiraty.sort_values(by='sim_score',ascending=False)[:nb_hits]
    
    return top_hits[['sim_score','title','clean_genres','overview','release_date','runtime','vote_average']]

In [120]:
recommand_me(['friends','toy','duo','aventure'],5)

,sim_score,title,clean_genres,overview,release_date,runtime,vote_average
32350,0.445270,Toy Reanimator,"[Science Fiction, Fantasy]","Set in a toy store specialized in antique toys, a boy works in the toy store and is obsessed with tin toys. There's one particular tin toy he loves more than the rest. In walks a girl wearing shades, and starts telling her own story, a weird and fascinating experience she had with a toy.",2002-01-01,47.0,0.0
23382,0.358209,"Silent Night, Deadly Night 5: The Toy Maker","[Horror, Science Fiction]","A young boy sees his father killed by a toy that was anonymously delivered to his house. After that, he is too traumatized to speak, and his mother must deal with both him and the loss of her husband. Meanwhile, a toy maker named Joe Peto builds some suspicious-looking toys, and a mysterious man creeps around both the toy store and the boy's house...but who is responsible for the killer toys?",1991-11-06,90.0,5.1
19333,0.358180,The Last Chance: Diary of Comedians,[Comedy],"The movie follows the life of an unpopular comedy duo. The duo, called ""Boso Swimmers"", have been working together for 12 years, but the duo sees little future in their comedy careers. They then begin to write their thoughts in a diary",2013-03-22,115.0,5.0
20221,0.302821,Toy Story of Terror!,"[Animation, Comedy, Family]","What starts out as a fun road trip for the Toy Story gang takes an unexpected turn for the worse when the trip detours to a roadside motel. After one of the toys goes missing, the others find themselves caught up in a mysterious sequence of events that must be solved before they all suffer the same fate in this Toy Story of Terror.",2013-10-15,22.0,7.3
37576,0.279200,The Mouse and His Child,"[Animation, Drama, Family]","The Mouse and his son are the two parts of a single small wind-up toy, which must be wound up by means of a key in the father's back. After having been unboxed, they discover themselves in a toy shop where they befriend a toy elephant and toy seal. The child mouse proposes staying at the shop to form a family, which the other toys ridicule. After falling from a counter and becoming broken, they are thrown in the trash. Outside, they become enslaved by Manny the Rat, who runs a casino in the ...",1977-11-18,83.0,5.8

In [121]:
def jaccard_me(query,nb_hits):
    
    sim_series=mov_meta.keyw_ov.map(lambda x: get_jaccard_sim(x,query))
    
    similarity_df = pd.DataFrame(sim_series)
    similarity_df.columns=['sim_score']
    similarity_df.index=mov_meta.id
    meta_similiraty=similarity_df.merge(mov_meta,on='id',how='left')
    top_hits = meta_similiraty.sort_values(by='sim_score',ascending=False)[:nb_hits]
    
    return top_hits[['sim_score','title','clean_genres','overview','release_date','runtime','vote_average']]

In [122]:
jaccard_me(['friend','toy','duo','buzz'],5)

,sim_score,title,clean_genres,overview,release_date,runtime,vote_average
33690,0.100000,The Loner,"[Action, Crime, Drama]",A cop is looking for the killer of his friend.,1987-03-18,100.0,5.7
26106,0.100000,Erkan & Stefan 3,[Comedy],The 3rd movie by the comedian duo Erkan and Stefan.,2005-05-19,97.0,3.8
32991,0.090909,Race Street,[Crime],A night-club owner takes on the crooks who killed his best friend.,1948-09-11,79.0,5.7
6968,0.090909,Africa Screams,[Comedy],"When bookseller Buzz cons Diana into thinking that his friend Stanley knows all there is to know about Africa, they are abducted and ordered to lead Diana and her henchmen to an African tribe in search of a fortune in jewels.",1949-05-04,79.0,6.6
6991,0.090909,Envy,[Comedy],A man becomes increasingly jealous of his friend's newfound success.,2004-04-30,99.0,4.8